<script src="/js/lib/jquery-2.1.4.min.js"></script>
<script src="/js/lib/masonry.pkgd.min.js"></script>
<script src="//desandro.github.io/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/js/lib/jquery.growl.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<!-- angular modules -->

<script src="/js/lib/angular.min.js"></script>
<script src="/js/lib/angular-route.min.js"></script>
<script src="/js/lib/angular-masonry.js"></script>

<!-- notes -->
<script src="/js/Notes/notesServices.js"></script>
<script src="/js/Notes/notesDirectives.js"></script>
<script src="/js/Notes/notesControllers.js"></script>

<!-- samples -->
<script src="/js/Samples/sampleFilters.js"></script>
<script src="/js/Samples/sampleDirectives.js"></script>
<script src="/js/Samples/sampleControllers.js"></script>

<script src="/js/app.js"></script>