<form name="note_add_form" id="note_add_form" novalidate ng-submit="note_add_form.$valid && addNewNote()">
    <div class="col-md-6">
        <fieldset>
            <div class="form-group clearfix">
                <label for="title">Note title</label>
                <input ng-model="formData.title" name="title" type="text" class="form-control"
                       id="title" placeholder="Enter title" required="required">

                <div ng-show="note_add_form.$submitted || note_add_form.title.$touched">
                <span ng-show="note_add_form.title.$error.required">
                  Title is required
                </span>
                </div>
            </div>

            <div class="form-group clearfix">
                <label for="note">Text</label>
                <textarea required="required" name="note" id="note" ng-model="formData.note"
                          class="form-control"></textarea>
                <div ng-show="note_add_form.$submitted || note_add_form.note.$touched">
                <span ng-show="note_add_form.note.$error.required">
                  text is required
                </span>
                </div>
            </div>

            <div class="form-group clearfix">
                <h3>Priority</h3>

                <div class="radio">
                    <label>
                        <input type="radio"
                               name="priority"
                               ng-model="formData.priority"
                               value="priority1"> Urgent
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio"
                               name="priority"
                               ng-model="formData.priority"
                               value="priority2"> High
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio"
                               name="priority"
                               ng-model="formData.priority"
                               value="priority3"> Normal
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio"
                               name="priority"
                               ng-model="formData.priority"
                               value="priority4"> Low
                    </label>
                </div>
            </div>

        </fieldset>
    </div>

    <div class="col-md-12">
        <input type="submit" class="btn btn-lg btn-success pull-right" value="Save this note">
    </div>

</form>