<div>

    <div class="notes-container">
        <div class="grid">
            <div class="grid-item">
                asjdas asjdas<br/> asjdas<br/> asjdas<br/> asjdas<br/> asjdas<br/>
            </div>
            <div class="grid-item grid-item--width2">
                asjdas
            </div>
            <div class="grid-item">
                asjdas
            </div>
            <div class="grid-item">
                asjdas<br/> asjdas<br/> asjdas<br/> asjdas<br/>
            </div>
            <div class="grid-item grid-item--width2">
                asjdas asjdas<br/> asjdas<br/>
            </div>
            <div class="grid-item">
                asjdas
            </div>
            <div class="grid-item">
                asjdas asjdas<br/>
            </div>
            <div class="grid-item grid-item--width2">
                asjdas
            </div>
            <div class="grid-item">
                asjdas
            </div>
            <div class="grid-item">
                asjdas asjdas<br/> asjdas<br/> asjdas<br/> asjdas<br/> asjdas<br/>
            </div>
            <div class="grid-item grid-item--width2">
                asjdas
            </div>
            <div class="grid-item">
                asjdas
            </div>
            <div class="grid-item">
                asjdas<br/> asjdas<br/> asjdas<br/> asjdas<br/>
            </div>
            <div class="grid-item grid-item--width2">
                asjdas asjdas<br/> asjdas<br/>
            </div>
            <div class="grid-item">
                asjdas
            </div>
            <div class="grid-item">
                asjdas asjdas<br/>
            </div>
            <div class="grid-item grid-item--width2">
                asjdas
            </div>
            <div class="grid-item">
                asjdas
            </div>
            <div class="grid-item">
                asjdas asjdas<br/> asjdas<br/> asjdas<br/> asjdas<br/> asjdas<br/>
            </div>
            <div class="grid-item grid-item--width2">
                asjdas
            </div>
            <div class="grid-item">
                asjdas
            </div>
            <div class="grid-item">
                asjdas<br/> asjdas<br/> asjdas<br/> asjdas<br/>
            </div>
            <div class="grid-item grid-item--width2">
                asjdas asjdas<br/> asjdas<br/>
            </div>
            <div class="grid-item">
                asjdas
            </div>
            <div class="grid-item">
                asjdas asjdas<br/>
            </div>
            <div class="grid-item grid-item--width2">
                asjdas
            </div>
            <div class="grid-item">
                asjdas
            </div>

        </div>
    </div>


</div>

<script type="text/javascript">

</script>