<!DOCTYPE html>
<html ng-app="noteApp">

    <% include partials/head.html %>
    <% include partials/header.html %>
          <body>
            <% include partials/home.html %>
          </body>

    <% include partials/footer.html %>

</html>